*.swp
*.o
*.d
*.obj
*.OBJ
*.exe
*.EXE
*.lnk
*.LNK
*.lbc
*.LBC
*.lib
*.LIB
*.err
*.ERR
*.log
*.LOG
Debug
Release
*.suo
*sdf
demo
*.zip
data
*.a
*.dll
*.occ
*.OCC
*.map
*.MAP
*.CFG
*.cfg
*.$$$
/dosdemo.vcxproj.user
*.dep
*.DEP
*.cof
*.COF
*.dja
*.DJA
